<div class="home-hero">
  <div class="hero-bg">
    <img
      class="bg-img"
      src="../../../assets/fondo1.jpg"
      alt="Fondo boda"
    />
    <div class="overlay"></div>
  </div>
</div>
<div class="hero-content-separate">
  <h1>¡Bienvenidos a la boda de Cristina y Jorge!</h1>
  <p class="subtitle">
    Estamos emocionados de compartir este día especial con ustedes.
  </p>
  <div class="countdown-box">
    <span class="countdown-label">Faltan:</span>
    <span class="countdown-value">{{ countdown }}</span>
  </div>
</div>
<div class="our-story-section">
  <app-our-story></app-our-story>
</div>

<div class="event-details-section">
  <app-event-details></app-event-details>
</div>

<div class="galeria-section">
  <app-photo-gallery></app-photo-gallery>
</div> 
